<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/_includes/css/styles.css"/>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>{{ title }}</title>
</head>

<body>
    <div class="container">
        <header>{% include 'partials/header.njk' %}</header>

        <nav>{% include 'partials/navigation.njk' %}</nav>

        <main class="home-main">
            {{ content | safe }}
        </main>

        <footer>{% include 'partials/footer.njk' %}</footer>
  </div>
</body>