
:root {
    /* colors */
    --bg-color: #171719; 
    --accent-color: #c60c29; 
    --accent-color2: #a11227;
    --text-color: #afb3b6;
    --console-hover: #afb3b6;
    --bsky: #4d88ff;
    --tumblr: #894ea5;
    /* Default transparent border */
    --debug-border: #ff000000;
    /* Uncomment the line below to turn on red borders, helpful for debugging! */
    /* --debug-border: #ff0000; */
    --bg-img: url("/img/art/dancer-banner1.jpg");
}

.icons {
  /* set svg color to #c60c29; */
  filter: invert(13%) sepia(88%) saturate(4420%) hue-rotate(343deg) brightness(86%) contrast(101%);
}

.icons:hover {
  /* set svg color to #999999; */
  filter: invert(63%) sepia(1%) saturate(0%) hue-rotate(153deg) brightness(97%) contrast(92%);
}

@font-face {
    font-family: 'Ubuntu Mono', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
}

body {
    color: var(--text-color);
    font-family: 'Ubuntu Mono', monospace; /*Courier New*/
    margin: 0;
    background-color: var(--bg-color);
    /* optional background image */
    /* background-size: 65px; */
}

/* the "container" is what wraps your entire website */
/* if you want something (like the header) to be Wider than
the other elements, you will need to move that div outside
of the container */
.container {
    max-width: 900px;
    /* this is the width of your layout! */
    /* if you change the above value, scroll to the bottom
    and change the media query according to the comment! */
    margin: 0 auto;
    /* this centers the entire page */
    display:flex;
    flex-wrap:wrap;
}

/* the area below is for all links on your page
EXCEPT for the navigation */
.container a {
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: underline;
}

a.bsky {
    color: var(--bsky);
}
a.tumblr {
    color: var(--tumblr);
}

a:hover {
    color: var(--console-hover);
}

#header-area {
    width: 100%;
    padding: 0;
    margin: 0;
    /* height: 150px; */
    /* this is only for a background image! */
    /* if you want to put images IN the header,
    you can add them directly to the <div id="header"></div> element! */
    /* background-image: var(--header-image); */
    /* background-size: 100%; */
}

/* navigation section!! */
#navbar {
    height: 50px;
    /* navbar color */
    background-color: var(--accent-color);
    width: 100%;
}

#navbar ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar ul.ul2 {
  background-color: var(--accent-color2);
}

#navbar ul.ul3 {
  background-color: #171719;
  color: var(--accent-color);
}

#navbar li {
    padding-top: 7px;
    font-size: 28px;
}

/* navigation links */
#navbar li a {
    /* navbar text color */
    color: var(--bg-color);
    /* this removes the underline */
    text-decoration: none;
}

/* navigation link when a link is hovered over */
#navbar li a:hover {
    /* color: #a49cba; */
    color: var(--console-hover);
}

.icon-bar {
    /* black bar */
    /*background-image: var(--bg-img);*/
    height: 50px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.icon-bar ul {
    display: flex;
    padding: 10px;
    margin: 0;
    list-style-type: none;
    justify-content: right;
    height: 60%;
    /* border: 1px solid red; */
}

.icon-bar li {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    /* border: 1px solid white; */
}

.icon-bar img {
    height: 100%;
    /* border: 1px solid red; */
}

.home-main section {
    border: 0px solid var(--debug-border);
}

.center {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid var(--debug-border);
}

.intro-section {
    display: flex;
}

.intro-section img {
    max-width: 100%;
    float: left;
}

.described-images {
    justify-content: space-between;
    display: flex;
    border: 1px solid var(--debug-border);
}

.described-images img {
    height: 50px;
}

.flex-block {
    /* width: 40%; */
    flex: 1;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--debug-border);
}

.flex-block h2 {
    text-align: center;
}

.text-span {
    margin: 0;
    padding: 0;
}

/* this is the color of the main content area,
between the sidebars! */
main {
    /*background-image: var(--bg-img);*/
    flex: 1;

    /* order: 2; */
}

.full-width {
    width: 100%;
}

#footer {
    /* background color for footer */
    background-color: var(--bg-color);
    height: 50px;
    width: 100%;
    text-align: center;
    /* vertical-align: middle; */
}

#footer p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#footer a {
    color: var(--bg-color);
    margin-top: 0;
    padding-top: 0;
}

#footer a:hover {
    color: var(--text-color);
}

/* columns (mobile) */
.container > * {
    width:100%;
}

.img {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width:900px) {
    /*  */
    .intro-section {
        flex-direction: column-reverse;
    }
    .center{
        width: auto;
    }
    /*  */
    .described-images {
        flex-direction: column;
    }
    .left-block,
    .right-block {
        width: auto;
    }
}

/* gallery code */
#gallery {
   line-height:0;
   -webkit-column-count:2; /* split it into 2 columns */
   -moz-column-count:2;
   -ms-column-count:2;
   column-count:2;
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-gap:5px;
   -ms-column-gap:5px;
   column-gap:5px;
}

.gallery-img {
   width: 100%;
   height: auto;
   margin-bottom:5px; /* to match column gap */
   /* grayscale for show, for color-on-hover-effect */
   /*filter:grayscale(100%); */
   transition: filter 1s;
}

.gallery-img:hover {
  filter:none;
}

@media (max-width: 800px) {
   #gallery {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    -ms-column-count:     2;
    column-count:         2;
   }
}

@media (max-width: 400px) {
   #gallery {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    -ms-column-count:     1;
    column-count:         1;
   }
}
/* end: gallery code */
/* lightbox code */
.trans {
  transition:all .25s ease
  }
  
.lightbox {
  position:fixed;
  width:100%;
  height:100%;
  text-align:center;
  top:0;
  left:0;
  background-color:rgba(0,0,0,.75);
  z-index:999;
  opacity:0;
  pointer-events:none
  }
  
.lightbox img {
  max-width:100%;
  max-height:100%;
  position:relative;
  top:-100%;
  transition:all .5 ease
  }
  
.lightbox:target {
  outline:0;
  top:0;
  opacity:1;
  pointer-events:auto;
  transition:all .2s ease
  }
  
.lightbox:target img {
  top:0;
  top:50%;
  transform:translateY(-50%)
  }
  
/* end: lightbox code */