---js

const layout = "layouts/base.njk";

const pagination = {
    data: "collections.arttags",
    size: 1,
    alias: "tag",
    // addAllPagesToCollections: true,
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
    title: "art tagged '{{ tag }}'",
    permalink: function(data) {
        // If DuplicatePermalinkOutputError occurs, check that no tag occurs
        // with differing case, e.g. "RSS" and "rss".
        return `/art-by-tag/${this.slugify(data.tag)}/`;
    }
};

const d = new Date();
let currentyear = d.getFullYear();

---

<div style="text-align:center">
    <p>(click to enlarge)</p>
    <h3>browse by tags / <a href="/art-by-year/{{currentyear}}/">browse by year:</a></h3>
    <h3>
    {% for t in collections.arttags %}
        {% if t == tag %}
            {{t}} 
        {% else %}
            <a href="/art-by-tag/{{t | slugify}}/">{{t}}</a>
        {% endif %}
    {% endfor %}
    </h3>
    <div id="gallery">
        {% for art in allart %}
            {% if art.tags contains tag %}
                {% if art.cw %}
                <div class="gallery-img-container">
                <a href="#img_{{forloop.index}}"><img class="gallery-img-blur" src="{{art.img}}"></a>
                <a href="#_" class="lightbox trans" id="img_{{forloop.index}}"><img src="{{art.img}}"></a>
                <div class="content-warning">
                    <h3>cw: {{art.cw}}</h3>
                    <p>(click to view)</p>
                </div>
                </div>
                {% else %}
                <a href="#img_{{forloop.index}}"><img class="gallery-img" src="{{art.img}}"></a>
                <a href="#_" class="lightbox trans" id="img_{{forloop.index}}"><img src="{{art.img}}"></a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
