---
title: s0mewhy/art
layout: layouts/base.njk

years: [2026,2025,2024,2023,2022]
---

<div style="text-align:center">
    <p>(click to enlarge)</p>
    {% for year in years %}
    <h3>[{{year}}]</h3>
    <div id="gallery">
        {% for art in allart %}
        {% if art.img contains year %}
        {% if art.cw %}
        <div class="gallery-img-container">
            <a href="#img_{{forloop.index}}"><img class="gallery-img-blur" src="{{art.img}}"></a>
            <a href="#_" class="lightbox trans" id="img_{{forloop.index}}"><img src="{{art.img}}"></a>
            <div class="content-warning">
                <h3>cw: {{art.cw}}</h3>
                <p>(click to view)</p>
            </div>
        </div>
        {% else %}
        <a href="#img_{{forloop.index}}"><img class="gallery-img" src="{{art.img}}"></a>
        <a href="#_" class="lightbox trans" id="img_{{forloop.index}}"><img src="{{art.img}}"></a>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>