    <footer id="footer">
      <div class="center">
{#         <a href="https://bsky.app/profile/s0mewhy.bsky.social"><img src="/img/bluesky.svg" class="icons" height="50px" width="50px"/></a>
        <a href="https://s0mewhy.tumblr.com/"><img src="/img/square-tumblr.svg" class="icons" height="50px" width="50px"/></a>
 #}      </div>
    </footer>