<div class="">
    <header id="header-area">
      <div class="icon-bar">
        <ul>
          <li></li>
        </ul>
      </div>
      <nav id="navbar">
        <ul>
          <li><a href="/">/home</a></li>
          <li><a href="/art-by-tag/all/">/art</a></li>
          <li><a href="/comms/">/comms</a></li>
        </ul>
      </nav>
{#       <nav id="navbar">
        <ul class="ul2">
          <li><a href="/blog/">/blog</a></li>
        </ul>
      </nav> #}
    </header>
</div>