<div class="">
    <header id="header-area">
      <div class="icon-bar">
        <ul>
          <li></li>
        </ul>
      </div>
      <nav id="navbar">
        <ul>
          <li><a href="/">/home</a></li>
          <li><a href="/gallery/">/gallery</a></li>
          <li><a href="/comms/">/comms</a></li>
        </ul>
      </nav>
      <nav id="navbar">
        <ul class="ul2">
          <li><a href="https://www.inprnt.com/gallery/s0mewhy/">/prints</a></li>
          <li><a href='https://ko-fi.com/s0mewhy/donate'><img height='37' style='border:0px;height:37px;' src='https://storage.ko-fi.com/cdn/kofi1.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a></li>
        </ul>
      </nav>
    </header>
</div>