<h1>tags</h1>

<ul>
{% for art in art-tags %}
    <li>{{ tag }}</li>
{# 	<li><a href="/tags/{{ tag | slugify }}" class="post-tag">{{ tag }}</a></li>
 #}{% endfor %}

 {% for art in allart %}
    {% if art.tags contains tag %}
        {{art.img}}
    {% endif %}
{% endfor %}
</ul>